<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
    </head>

    <body>
        <h1>My Dashboard</h1>
        <div>
            <h3>Files:</h3>
            <div id="files">No files.</div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const accessToken = document.cookie
                    .split('; ')
                    .find((row) => row.startsWith('access_token='))
                    .split('=')[1]

                fetch('http://localhost:5001/api/files', {
                    method: 'GET',
                    headers: {
                        Authorization: `Bearer ${accessToken}`,
                    },
                })
                    .then((response) => {
                        if (response.status === 401) {
                            document.cookie =
                                'access_token=; expires=Sun, 01 Jan 1970 00:00:00 UTC; path=/;'
                            window.location.href = 'http://localhost:3443'
                        }
                        return response.json()
                    })
                    .then((data) => {
                        document.getElementById('files').innerHTML = data
                            .map(({ name }) => `<li>${name}</li>`)
                            .join('')
                    })
                    .catch((error) => console.error('Error:', error))
            })
        </script>
    </body>
</html>
