<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
    </head>

    <body>
        <script>
            fetch('http://localhost:5001/api/files', {
                method: 'GET',
            })
                .then((response) => response.json())
                .then((data) => console.log(data))
                .catch((error) => console.error('Error:', error))
        </script>
        <h1>My Dashboard</h1>
        <a href="/logout">logout</a>
    </body>
</html>
