<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Secure Client</title>
        <style>
            #list {
                display: none;
            }
            button {
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <h1>I am secure client</h1>
        <a id="connect-btn" href="/connect"><button>Connect</button></a>
        <div id="list">
            <h3>Files:</h3>
            <div id="files">No files.</div>
        </div>
        <script>
            let accessToken = document.cookie
                .split('; ')
                .find((row) => row.startsWith('access_token='))
            if (accessToken) {
                accessToken = accessToken.split('=')[1]
            }

            document.addEventListener('DOMContentLoaded', () => {
                const connectBtn = document.getElementById('connect-btn')
                const fileListEl = document.getElementById('list')
                if (accessToken) {
                    fileListEl.style.display = 'block'
                    connectBtn.style.display = 'none'

                    fetch('http://localhost:5001/api/files', {
                        method: 'GET',
                        headers: {
                            Authorization: `Bearer ${accessToken}`,
                        },
                    })
                        .then((response) => {
                            if (response.status === 401) {
                                document.cookie =
                                    'access_token=; expires=Sun, 01 Jan 1970 00:00:00 UTC; path=/;'
                                fileListEl.style.display = 'none'
                                connectBtn.style.display = 'block'
                                return
                            }
                            return response.json()
                        })
                        .then((data) => {
                            document.getElementById('files').innerHTML = data
                                .map(({ name }) => `<li>${name}</li>`)
                                .join('')
                        })
                        .catch((error) => console.error('Error:', error))
                }
            })
        </script>
    </body>
</html>
